src/external/xsd/tests/cxx/tree/list/ctor/test.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:t="test" targetNamespace="test">

  <simpleType name="string-list">
    <list itemType="string"/>
  </simpleType>

  <!-- Test name conflict resolution. -->

  <simpleType name="size_type">
    <list itemType="int"/>
  </simpleType>

  <simpleType name="I">
    <list itemType="int"/>
  </simpleType>

</schema>
