src/external/xsd/tests/cxx/tree/union/ctor/test.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:t="test" targetNamespace="test">

  <simpleType name="int-string-union">
    <union memberTypes="int string"/>
  </simpleType>

  <complexType name="type">
    <sequence>
      <element name="a" type="t:int-string-union"/>
    </sequence>
  </complexType>

</schema>
