src/external/xsd/examples/cxx/parser/hello/hello.xsd

<?xml version="1.0"?>

<!--

file      : examples/cxx/parser/hello/hello.xsd
author    : Boris Kolpackov <boris@codesynthesis.com>
copyright : not copyrighted - public domain

-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <xsd:complexType name="hello">
    <xsd:sequence>
      <xsd:element name="greeting" type="xsd:string"/>
      <xsd:element name="name" type="xsd:string" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="hello" type="hello"/>

</xsd:schema>
