src/external/xsd/tests/cxx/tree/name-clash/inheritance/test.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:t="test" targetNamespace="test">

  <!-- same member name in base and derived -->

  <complexType name="base">
    <sequence>
      <element name="e" type="string"/>
    </sequence>
  </complexType>

  <complexType name="derived">
    <complexContent>
      <extension base="t:base">
        <sequence>
          <element name="e" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>

  <element name="root" type="t:derived"/>

  <!-- same c-tor argument names (compilation only) -->

  <complexType name="ctor-args">
    <simpleContent>
      <extension base="string">
        <attribute name="string" type="string" use="required"/>
      </extension>
    </simpleContent>
  </complexType>


  <!-- same c-tor argument names (compilation only) -->

  <complexType name="ctor-args-base">
    <simpleContent>
      <extension base="string">
        <attribute name="ctor-args-derived" type="string" use="required"/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType name="ctor-args-derived">
    <simpleContent>
      <extension base="t:ctor-args-base">
        <attribute name="foo" type="string" use="required"/>
      </extension>
    </simpleContent>
  </complexType>

</schema>
