src/external/xsd/tests/processing/inheritance/test-000.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:t="test" targetNamespace="test">

  <!-- Type base "depends" on itself via e element -->
 
  <element name="e">
    <complexType>
      <complexContent>
        <extension base="t:base"/>
      </complexContent>
    </complexType>
  </element>
  
  <complexType name="base">
    <sequence>
      <element ref="t:e"/>
    </sequence>
  </complexType>

  <element name="root" type="t:base"/>

</schema>
