src/external/xsd/tests/morphing/anonymous/group/test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xsi:schemaLocation="http://www.w3.org/2001/XMLSchema XMLSchema.xsd"
            xmlns="http://www.codesynthesis.com/xmlns/test"
            targetNamespace="http://www.codesynthesis.com/xmlns/test">

  <!-- Simple case. -->

  <xsd:group name="gfoo">
    <xsd:sequence>
      <xsd:element name="foo-1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"/>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:group>


  <xsd:complexType name="Foo">
    <xsd:group ref="gfoo"/>
  </xsd:complexType>

  <xsd:complexType name="Bar">
    <xsd:group ref="gfoo"/>
  </xsd:complexType>

</xsd:schema>
