src/external/xsd/tests/cxx/parser/validation/all/test.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:t="test" targetNamespace="test">

  <complexType name="all">
    <all minOccurs="1">
      <element name="a" type="string"/>
      <element name="b" type="string"/>
      <element name="c" type="string" minOccurs="0"/>
    </all>
  </complexType>

  <complexType name="type">
    <sequence>
      <element name="all" type="t:all" maxOccurs="unbounded"/>
    </sequence>
  </complexType>

  <element name="root" type="t:type"/>

</schema>
