src/external/xsd/tests/cxx/tree/naming/knr/test.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:t="test" targetNamespace="test">

  <simpleType name="gender">
    <restriction base="string">
      <enumeration value="male"/>
      <enumeration value="female"/>
    </restriction>
  </simpleType>

  <complexType name="type">
    <sequence>
      <element name="foo" minOccurs="0">
        <complexType>
          <sequence>
            <element name="a" type="string"/>
            <element name="b" type="string"/>
          </sequence>
        </complexType>
      </element>
      <element name="bar" type="string"/>
      <element name="baz" type="string" maxOccurs="unbounded"/>
      <any namespace="other" processContents="skip" maxOccurs="unbounded"/>
    </sequence>
    <attribute name="fox" type="string" default="hello"/>
    <anyAttribute namespace="##other" processContents="skip"/>
  </complexType>

  <element name="root" type="string"/>

</schema>
