src/external/xsd/tests/morphing/anonymous/attribute-group/test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xsi:schemaLocation="http://www.w3.org/2001/XMLSchema XMLSchema.xsd"
            xmlns="http://www.codesynthesis.com/xmlns/test"
            targetNamespace="http://www.codesynthesis.com/xmlns/test">

  <!-- Attribute Group that names anonymous type. -->
  
  <xsd:attributeGroup name="gfoo-1">
    <xsd:attribute name="afoo-1">
      <xsd:simpleType>
        <xsd:restriction base="xsd:string"/>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:attributeGroup>

  <xsd:attributeGroup name="gfoo-2">
    <xsd:attributeGroup ref="gfoo-1"/>
    <xsd:attribute name="afoo-2" type="xsd:string"/>
  </xsd:attributeGroup>

  <xsd:complexType name="Foo1">
    <xsd:attributeGroup ref="gfoo-1"/>
  </xsd:complexType>

  <xsd:complexType name="Foo2">
    <xsd:attributeGroup ref="gfoo-2"/>
  </xsd:complexType>

</xsd:schema>
