src/external/xsd/tests/cxx/tree/enumeration/inheritance/test.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:t="test" targetNamespace="test">

  <simpleType name="side">
    <restriction base="string">
      <enumeration value="top"/>
      <enumeration value="left"/>
      <enumeration value="bottom"/>
      <enumeration value="right"/>
    </restriction>
  </simpleType>

  <simpleType name="top-bottom">
    <restriction base="t:side">
      <enumeration value="top"/>
      <enumeration value="bottom"/>
    </restriction>
  </simpleType>

  <element name="root" type="t:top-bottom"/>

</schema>
