src/external/xsd/tests/schema/any/fail.xsd

<?xml version="1.0" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xsi:schemaLocation="http://www.w3.org/2001/XMLSchema XMLSchema.xsd"
	    xmlns:test="http://www.codesynthesis.com/xmlns/test"
            targetNamespace="http://www.codesynthesis.com/xmlns/test">

  <xsd:element name="foo" type="xsd:string"/>

  <xsd:complexType name="person">
    <xsd:sequence>
      <xsd:element name="name" type="xsd:string"/>
      <xsd:element ref="test:foo"/>
      <xsd:any namespace="##any" processContents="strict"/>
      <xsd:any namespace="http://www.codesynthesis.com/xmlns/test" processContents="strict"/>
    </xsd:sequence>
  </xsd:complexType>
  
</xsd:schema>
