src/external/xsd/tests/schema/ref-type/invalid-0.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xse="http://www.codesynthesis.com/xmlns/xml-schema-extension"
            xmlns:test="http://www.codesynthesis.com/xmlns/test"
	    xmlns:phony="http://www.codesynthesis.com/xmlns/phony"
            targetNamespace="http://www.codesynthesis.com/xmlns/test">

  <!-- unresolvable namespace prefix -->
  
  <xsd:attribute name="attribute1" type="xsd:IDREF" xse:refType="author"/>
  <xsd:attribute name="attribute2" type="xsd:IDREF" xse:refType="t:author"/>

  <!-- unresolvable namespace -->
  
  <xsd:attribute name="attribute3" type="xsd:IDREF" xse:refType="phony:author"/>

</xsd:schema>
