src/external/xsd/examples/cxx/tree/custom/double/order.xsd

<?xml version="1.0"?>

<!--

file      : examples/cxx/tree/custom/double/order.xsd
author    : Boris Kolpackov <boris@codesynthesis.com>
copyright : not copyrighted - public domain

-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <xsd:complexType name="item">
    <xsd:attribute name="name" type="xsd:string" use="required"/>
    <xsd:attribute name="price" type="xsd:double" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="order">
    <xsd:sequence>
      <xsd:element name="item" type="item" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="order" type="order"/>

</xsd:schema>
