src/external/xsd/tests/cxx/tree/encoding/char/iso-8859-1/test.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:t="test" targetNamespace="test">

  <simpleType name="strenum">

    <annotation>
      <documentation>
        Test enum. Valid values are:
        abc
        a&#xE2;c
        &#xF2;bc
      </documentation>
    </annotation>

    <restriction base="string">
      <enumeration value="abc"/>
      <enumeration value="a&#xE2;c"/>
      <enumeration value="&#xE2;&#xF2;bc"/>
    </restriction>
  </simpleType>

  <complexType name="type">
    <sequence>
      <element name="a" type="string" maxOccurs="unbounded"/>
      <element name="b" type="t:strenum" maxOccurs="unbounded"/>
    </sequence>
  </complexType>

  <element name="root" type="t:type"/>

</schema>
