src/external/xsd/tests/cxx/parser/list/test.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:t="test" targetNamespace="test">

  <simpleType name="string-list">
    <list itemType="string"/>
  </simpleType>

  <complexType name="string-list-lang">
    <simpleContent>
      <extension base="t:string-list">
        <attribute name="lang" type="string"/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType name="type">
    <choice maxOccurs="unbounded">
      <element name="string-list" type="t:string-list"/>
      <element name="string-list-lang" type="t:string-list-lang"/>
    </choice>
  </complexType>

  <element name="root" type="t:type"/>

</schema>
