src/external/xsd/tests/cxx/tree/chameleon/includee.xsd

<?xml version="1.0" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <xsd:complexType name="root_t">
    <xsd:sequence>
      <xsd:element name="a" type="type"/>
      <xsd:element ref="b"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="root" type="root_t"/>

</xsd:schema>
