src/external/xsd/tests/cxx/parser/validation/choice/test.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:t="test" targetNamespace="test">

  <complexType name="choice">
    <choice maxOccurs="3">
      <element name="a" type="string"/>
      <element name="b" type="string" maxOccurs="unbounded"/>
      <sequence>
        <element name="c" type="string" minOccurs="0"/>
	<element name="d" type="string"/>
      </sequence>
      <any namespace="other" maxOccurs="unbounded"/>
    </choice>
  </complexType>

  <complexType name="type">
    <sequence>
      <element name="choice" type="t:choice" maxOccurs="unbounded"/>
    </sequence>
  </complexType>

  <element name="root" type="t:type"/>

</schema>
