src/external/xsd/tests/cxx/parser/validation/sequence/test.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:t="test" targetNamespace="test">

  <complexType name="sequence">
    <sequence minOccurs="1" maxOccurs="2">
      <element name="a" type="string" minOccurs="0"/>
      <sequence>
        <element name="b" type="string" minOccurs="0"/>
        <element name="c" type="string"/>
      </sequence>
      <element name="d" type="string" maxOccurs="unbounded"/>
      <sequence>
        <any namespace="##targetNamespace other"/>
	<element name="f" type="string"/>
      </sequence>
      <element name="e" type="string" maxOccurs="2"/>
    </sequence>
  </complexType>

  <complexType name="type">
    <sequence>
      <element name="sequence" type="t:sequence" maxOccurs="unbounded"/>
    </sequence>
  </complexType>

  <element name="root" type="t:type"/>

</schema>
