src/external/xsd/tests/cxx/parser/union/test.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:t="test" targetNamespace="test">

  <simpleType name="int-string-union">
    <union memberTypes="int string"/>
  </simpleType>

  <complexType name="type">
    <choice maxOccurs="unbounded">
      <element name="int-string-union" type="t:int-string-union"/>
    </choice>
  </complexType>

  <element name="root" type="t:type"/>

</schema>
