src/external/xsd/tests/schema/any-type/test.xsd

<?xml version="1.0" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xsi:schemaLocation="http://www.w3.org/2001/XMLSchema XMLSchema.xsd"
	    xmlns:test="http://www.codesynthesis.com/xmlns/test"
            targetNamespace="http://www.codesynthesis.com/xmlns/test">

  <xsd:complexType name="person">
    <xsd:sequence>
      <xsd:element name="name"/> <!-- type="anyType" -->
      <xsd:element name="name2" type="xsd:anyType" minOccurs="0"/>
      <xsd:element name="name3" type="xsd:anyType" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="id"/> <!-- type="anySimpleType" -->
    <xsd:attribute name="id2" type="xsd:anySimpleType" use="required"/>
  </xsd:complexType>

  <xsd:element name="person" type="test:person"/>

  <xsd:element name="name"/> <!-- type="anyType" -->
  
</xsd:schema>
