src/external/xsd/examples/cxx/tree/messaging/protocol.xsd

<?xml version="1.0"?>

<!--

file      : examples/cxx/tree/messaging/protocol.xsd
author    : Boris Kolpackov <boris@codesynthesis.com>
copyright : not copyrighted - public domain

-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:p="http://www.codesynthesis.com/protocol"
            targetNamespace="http://www.codesynthesis.com/protocol">

  <!-- types -->

  <xsd:complexType name="account_t">
    <xsd:sequence>
      <xsd:element name="account" type="xsd:unsignedInt"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="change_t">
    <xsd:complexContent>
      <xsd:extension base="p:account_t">
        <xsd:sequence>
          <xsd:element name="amount" type="xsd:unsignedInt"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="balance_t">
    <xsd:complexContent>
      <xsd:extension base="p:account_t">
        <xsd:sequence>
          <xsd:element name="balance" type="xsd:unsignedInt"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- request elements -->

  <xsd:element name="balance" type="p:account_t"/>
  <xsd:element name="withdraw" type="p:change_t"/>
  <xsd:element name="deposit" type="p:change_t"/>

  <!-- response elements -->

  <xsd:element name="success" type="p:balance_t"/>
  <xsd:element name="insufficient-funds" type="p:balance_t"/>

</xsd:schema>
