src/external/xsd/tests/schema/inheritance/cycle.xsd

<?xml version="1.0" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xsi:schemaLocation="http://www.w3.org/2001/XMLSchema XMLSchema.xsd"
	    xmlns:test="http://www.codesynthesis.com/xmlns/test"
            targetNamespace="http://www.codesynthesis.com/xmlns/test">

  <xsd:complexType name="Base">
    <xsd:sequence>
      <xsd:element name="e1">
        <xsd:complexType>
          <xsd:complexContent>
            <xsd:extension base="test:Derived">
              <xsd:sequence>
                <xsd:element name="e2" type="xsd:int"/>
              </xsd:sequence>
            </xsd:extension>
          </xsd:complexContent>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Derived">
    <xsd:complexContent>
      <xsd:extension base="test:Base">
        <xsd:sequence>
          <xsd:element name="e3" type="xsd:int"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

</xsd:schema>
